name: Cypress Tests

on:
  pull_request:
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          build: yarn build:mock
          start: yarn start:mock
          wait-on: 'http://localhost:3000'
          command: yarn cy:run
